{
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "plugins": ["jest", "prettier", "@typescript-eslint","eslint-plugin-tsdoc"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double", { "avoidEscape": true }],
    "prettier/prettier": "error",
    // use @typescript-eslint/no-unused-vars
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "no-var": "error",
    "id-length": [
      "error",
      {
        "exceptionPatterns": ["[i-k]","e","c","x","y"],
        "properties": "never"
      }
    ],
    "allow-namespace": "off",
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/naming-convention":[
      "error",
      {
        "selector": ["variable"],
        "modifiers": ["const","global"],
        "format": ["UPPER_CASE"],
        "types": ["string","number","array","boolean"]
      }
    ],
    "tsdoc/syntax":"error"
  }
}
